.colorpicker-saturation {
    background-image: url('/packages/bootstrap-colorpicker/lib/bootstrap-colorpicker/img/bootstrap-colorpicker/saturation.png');
}
.colorpicker-hue { 
	background-image: url('/packages/bootstrap-colorpicker/lib/bootstrap-colorpicker/img/bootstrap-colorpicker/hue.png') 
}
.colorpicker-alpha {
    background-image: url('/packages/bootstrap-colorpicker/lib/bootstrap-colorpicker/img/bootstrap-colorpicker/alpha.png');
}
.colorpicker-color {
    background-image: url('/packages/bootstrap-colorpicker/lib/bootstrap-colorpicker/img/bootstrap-colorpicker/alpha.png');
}